<!-- <!DOCTYPE html>
<html>

<head>


	<script type="text/javascript">

		var myMusic= document.getElementById("music");
		myMusic.play();
		

	</script>


</head>
<body>
<button onclick="helo()"></button>
<audio controls id="music">
  <source src="{{url_for('static', filename='audio.wav')}}" type="audio/ogg">
</audio>

</form>
</html> -->

<audio controls id="music">
<source src="{{url_for('static', filename='finally.wav')}}" type="audio/mpeg">
Your browser does not support the audio element.
</audio>

<p>Click the buttons to play or pause the music.</p>

<script>
window.onload = function() {
    document.getElementById("music").play();
}
</script>